.alumni-list{
    display: grid;
    grid-template-columns: auto auto auto;
}

.alumni-item{
    margin: 1.25rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.alumni-name {
    width: 300px;
}

.heading{
    font-size: 10rem;
    margin-bottom: 20px;
    margin-top: -50px;
}

.circle{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    left: 0;
    background-color: red;
}

.alumni-position{
    position: relative;
    display: inline-flex;
    padding: 1px 10px 3px 30px;
    color: rgba(0, 0, 255, 0.487);
    font-weight: bold;
    background-color: rgba(255, 228, 196, 0.575);
    border-radius: 100px;
}

.dpeDzF {
    background: linear-gradient(rgb(64, 221, 255) 0%, rgb(124, 127, 255) 100%);
    border: 4px solid rgb(124, 127, 255);
    border-radius: 24px;
    color: black;
    box-shadow: rgb(124, 127, 255) 0px 0px 12px;
    min-height: 300px;
    max-width: 350px;
    min-width: 304px;
    padding: 40px 48px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.8, -1, 0.2, 1.5) 0s;
}

.dpeDzF::after {
    background-image: url(https://lh3.googleusercontent.com/drive-viewer/AITFw-xv4pJEPePCEQK5jRt0ZIyVRRuouXlglwg9rUu7KBl7_j7Z5HdmcjNxWaBXf07T0_QB87IEuWC8A_Kg7OleemVNu4bNEg=s2560);
    background-size: cover;
    background-position: center center;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    mix-blend-mode: color-dodge;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
}

.dpeDzF:hover {
    box-shadow: rgb(124, 127, 255) 0px 0px 25px, rgb(124, 127, 255) 0px 0px 8px 2px;
    transform: translateY(-12px);
}

.alumniImage{
    border-radius: 50%;
    height: 175px;
    width: 200px;
    margin: 0 auto;
    display: block;
    border: 4px solid rgb(124, 127, 255);
    box-shadow: rgb(124, 127, 255) 0px 0px 12px;
}

.test {
    z-index: 100;
}

@media screen and (max-width: 1280px) {
    .heading{
        font-size: 5rem;
        margin: 4rem 0;
        text-align: center;
        
    }
    .alumni-carousel{
        margin: 0 2rem;
        
        margin-bottom : 4rem;
    }
    .alumni-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin : 2rem 0 !important;
        padding: 0 ;
        
    }
    .dpeDzF{
        justify-content: center;
        margin: 0 auto !important;
        padding: 2rem !important;
    }
    
    .dpeDzF:hover {
        transform: none;
    }
}