.card {
	display: flex;
	width: 100%;
	max-width: 50vw; /* Increased max-width for the entire card */
	overflow: hidden;
	border: 0;
	transition: transform 0.3s, border-color 0.3s;
	margin: 5vh;
	background-color: black;
	color: white;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
	width: 25vw; /* Increased width for the image */
	height: auto;
	border-radius: 12px 0 0 12px;
}

.cardContent {
	flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
	text-align: justify;
    width: 25vw; /* Increased width for the cardContent */
}
.card:hover {
	transform: scale(1.05);
	border-color: orange;
	border: 2px solid orange;
}



.title {
	color: white;
	transition: color 0.3s;
	margin-bottom: 10px;
}

.card:hover .title {
	color: orange;
}

.description {
	color: white;
	margin-bottom: 10px;
}

.button {
    display: block;
    background: orange;
    padding: 10px;
	margin: 25px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
	width: 60%;
}
.button:hover {
	background-color: #ff8c00;
}


@media all and (max-width:1280px){
	.card{
		flex-direction: column;
		max-width: 50vw;
	}

	.cardContent{
		width: 100%;
		overflow-wrap: break-word;
	}

	.card img {
		width: 100%;
		
	}
}

@media all and (max-width:786px){
	.card{
		flex-direction: column;
		max-width: 100vw;
	}

	.cardContent{
		width: 100%;
		overflow-wrap: break-word;
	}

	.card img {
		width: 100%;
		
	}
}