.landingContainer {
  position: relative;
  margin: 0 5vw;
  height: 100vh;
  width: 90vw;
  background: url("../../../../public/genesis-logo.png") repeat-x;
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow-y: hidden;
}

.text {
  font-size: 20vw;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 10%;
  z-index: 10;
  color: rgba(255, 217, 0, 0.297);
  text-shadow: 1px 0px 0px rgba(250, 235, 215, 0.66);
}

.landingContainer::after {
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 90vw;
  height: 100vh;
  background-color: rgba(255, 217, 0, 0.297);
  animation: animate 2.5s linear;
}

@keyframes animate {
  0% {
    width: 0px;
  }

  100% {
    width: 90vw;
  }
}

@media screen and (max-width: 1280px) {
  .landingContainer {
    height: 88vh;
    background: url("../../../../public/genesis-logo-sp.png");
    background-size: cover;
    background-position: center;
  }
}
