/* timer.module.css */

.timer-container {
    text-align: center;
    margin: 20px auto; /* Auto margin to center horizontally */
    border: 2px solid white;
    background: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  .timer-title {
    font-family: 'Serif';
    color: white;
    font-size: 5em;
  }
  
  .timer-display {
    font-family: 'Serif';
    font-size: 6em;
    font-weight: semibold;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(5, 5, 0, 0.1);
  }
  