.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}



.load {
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    background: mix(#3f3251, #002025, 70%);
}

.term {
    font-family: monospace;
    color: #fff;
    opacity: 0.8;
    font-size: 2em;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 20px;
}

.term:after {
    content: "_";
    opacity: 1;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .term {
        font-size: 1.5em;
    }
}